.App {
  text-align: center;
}

body {
  /* background: url("https://cdn.hipwallpaper.com/m/46/71/q9uxtF.jpeg") no-repeat center center fixed; */
  background: url(./imges/Film.jpeg) no-repeat center center fixed;
  display: table;
  height: 60%;
  position: relative;
  width: 100%;
  background-size: cover;
  color: white;
}



